.blog__description {
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  // }

  // vimeo and youtube STUFF (overwriting proj. stuff)
  .embed {
    padding-bottom: 84.375%;
    max-width: unset;
    width: calc(150% + 5px);
    margin: $global-line-height 0;
  }
}

.blog-img {
  width: calc(150% + 5px);

  &__image {
    margin: $global-line-height 0;
  }
}
