.header {
  @include spacing(top, topSpace);
  @include spacing(right, small);
  @include spacing(left, small);
  margin-bottom: 14px;

  h1 {
    margin-top: 0;
    word-break: break-word;
  }

  &__homeLink {
    padding-left: 5px;
    padding-right: 8px;
  }

  @include mq($from: phablet) {
    h1 {
      float: left;
    }
  }
  @include mq($from: phablet, $until: desktop) {
    max-width: 33.3%;
  }
  @include mq($from: desktop) {
    max-width: calc(16.6% - 10px);
  }
}
