section.info {
  //   margin: 0 10px 30px 10px;
  @include spacing(top, topSpace);
  @include spacing(left, small);
  @include spacing(right, small);
  @include spacing(bottom, medium);

  .introduction {
    margin-bottom: 20px;
  }

  @include mq($from: phablet) {
    .introduction {
      padding-top: 5px;
    }
  }

  @include mq($from: phablet, $until: desktop) {
    .introduction,
    .bio__link {
      margin-left: 33%;
      max-width: 67%;
    }
  }

  @include mq($from: desktop) {
    .introduction,
    .bio__link {
      margin-left: 16.6%;
      max-width: 50%;
    }
  }
}
