.showcase .posts {
  display: grid;
  gap: $showcase-border-row-gap $showcase-border-column-gap;

  grid-template-columns: 1fr;

  margin: 0 $showcase-border-row-gap $filter-height $showcase-border-row-gap;
  @include mq($from: phablet) {
    margin-bottom: $showcase-border-row-gap;
    @include spacing(left, small);
    @include spacing(right, small);
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.showcase .post {
  position: relative;
  overflow: hidden;

  &:after {
    display: block;
    content: "";
    padding-top: $image-ratio;
  }

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    border: $showcase-border-width solid black;
  }

  &__title {
    border-bottom: $showcase-title-border-width solid
      $showcase-title-color-border;
  }

  &__title,
  &__excerpt {
    padding: $showcase-title-padding-vertical $showcase-title-padding-horizontal;
  }

  &__date {
    display: block;
    margin-bottom: 10px;
  }
}
