$c: "filter__item";
$c-b-btn-padding-vertical: 8px;
$c-b-btn-padding-horizontal: 10px;
$c-b-btn-border-radius: 0px;
$c-b-btn-color: transparent;
$c-b-btn-color-border: black;
$c-b-btn-color-text: black;

$c-b-btn-active-color: black;
$c-b-btn-active-color-text: white;

.#{$c} {
  //   @include hocus-focus($type: textcolor, $color: $c-b-btn-color-text);
  @include reset-button;
  @include typo-body;
  display: inline-block;
  width: auto;
  max-width: 100%;
  text-align: center;
  padding: $c-b-btn-padding-vertical $c-b-btn-padding-horizontal;
  color: $c-b-btn-color-text;
  text-decoration: none;
  background-color: $c-b-btn-color;
  border-radius: $c-b-btn-border-radius;
  border: 1px solid $c-b-btn-color-border;

  //@include mq($from: desktop) {
  //    border: 3px solid $c-b-btn-color-border;
  //}

  //   @include spacing(bottom, small);

  //add spacing manually
  //   margin-right: 10px;
  //   margin-bottom: 10px;

  .arrow {
    margin-bottom: 2px;
    margin-left: 5px;
    // transition: transform 0.5s ease-in-out;
  }

  .arrow__path {
    // stroke-width: 1px;
    fill: $c-b-btn-color-text;
  }

  &--active {
    background-color: $c-b-btn-active-color;
    color: $c-b-btn-active-color-text;

    .arrow {
      transform: rotateX(180deg);
    }

    .arrow__path {
      // stroke-width: 1px;
      fill: $c-b-btn-active-color-text;
    }
  }

  &:focus {
    outline: none;
  }
}
