/**
 * -----------------------------------------------------------------------
 * spacings
 * -----------------------------------------------------------------------
 *
 * Use this spacing settings for the @include spacing[s] mixin
 *
 */

//FIX! lg MUCHI
$space-topSpace: (
  phone: 12px,
  tablet: 32px,
  desktop: 37px,
);

//FIX! lg MUCHI
$space-small: (
  phone: 10px,
  tablet: 20px,
  desktop: 20px,
);

//FIX! lg MUCHI
$space-infoSpace: (
  phone: 20px,
  tablet: 30px,
  desktop: 30px,
);

//FIX! lg MUCHI
$space-medium: (
  phone: 30px,
  tablet: 40px,
  desktop: 40px,
);

$space-large: (
  phone: 60px,
  tablet: 80px,
  desktop: 100px,
);

$spacings: (
  small: $space-small,
  medium: $space-medium,
  large: $space-large,
  topSpace: $space-topSpace,
  infoSpace: $space-infoSpace,
);
